<h1>Watch out world! Coming soon!</h1>
<hr/>

<ul>
    <% @products.each do |product| %>
        <li>
            <%=product.name%>: <%= product.price %></li>
        
    <% end %>
</ul>
<%= @products.count %> products and counting! Check back soon!
<hr/>

<h2> Your shopping cart has <%=@cart.length%> items</h2>
<%= link_to "Check Out", checkout_path%>